[submodule "frontend"]
	path = frontend
	url = https://github.com/MaxStarman/minotask-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/MaxStarman/minotask-backend.git
[submodule "prompt-lab"]
	path = prompt-lab
	url = https://github.com/MaxStarman/minotask-prompt-lab.git
